
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
.coursebox {
  overflow:hidden;
  padding: 0px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
    border-width: 1px;
  border-color: #e7e7e7;
  text-overflow: ellipsis;
  white-space:nowrap;
}
  
  #assetmargin{
margin-left:30px
}
	}

/* Extra Small Devices, Phones */ 
	@media (min-width : 480px) {
.coursebox {
  overflow:hidden;
  padding: 0px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
    border-width: 1px;
  border-color: #e7e7e7;
  text-overflow: ellipsis;
  white-space:nowrap;
}
      
      #assetmargin{
margin-left:5px
}
	}

    /* Small Devices, Tablets */
@media (min-width : 768px) {
.coursebox {
  overflow:hidden;
  padding: 0px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
    border-width: 1px;
  border-color: #e7e7e7;
  text-overflow: ellipsis;
  white-space:nowrap;
}
    }

/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
      
      .coursebox {
  overflow:hidden;
  padding-left: 0px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
    border-width: 1px;
  border-color: #e7e7e7;
        text-overflow: ellipsis;
        white-space:nowrap;
}
      
      #assetmargin{
margin-left:20px
}
    

	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
      
      .coursebox {
  overflow:hidden;
  padding: 0px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 15px;
  border-style: solid;
    border-width: 1px;
  border-color: #e7e7e7;
        text-overflow: ellipsis;
        white-space:nowrap;
}
 #assetmargin{
margin-left:20px
}
	}



body {
  font-family: 'Roboto';
  font-size: 14px;
  color: #445A64;
  background-color: #ffffff;
  overflow-x: hidden;
}

#this_form {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 2px 1px 8px #807777
}

#profile_pic {
  padding-top: 25px
}




.endorsebox {
  overflow:hidden;
  padding: 10px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-style: solid;
    border-width: 1px;
  border-color: #e7e7e7;
}

.marginthis {
margin-left: 1px;
}

.boxdivider {
  margin: 10px;
}

.bigdivider {
  padding: 30px
}

.divider {
  padding: 10px
}

.smalldivider {
  padding: 5px
}

#course_cog {
  margin: 10px
}

.img-responsive {
    margin: 0 auto;
}

.line{
    border-bottom: 1px solid #ccc;
}
.line_vertical{
    border-right: 1px solid #ccc;
}

#mymodal{
    margin-top: 350px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#yes{
background: url('https://d80b0eibbxq90.cloudfront.net/images/headers/header__homepage--mega-76656de4.jpg') no-repeat center center fixed;
linear-gradient(to right, rgb(31, 79, 127) 10%, rgb(125, 119, 90) 50%, rgb(220, 138, 44) 90%); 
  opacity:0.8;
  background-size: cover;
  color: aliceblue;
  top: -20;
}

.front{
background-color: #f9f9f9;
  top: -20;
}




p {word-wrap:break-word;}


