body {
  font-family: 'Roboto';
  font-size: 14px;
  color: #445A64;
  background-color: #ffffff;
  overflow-x: hidden;
}

#this_form {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 2px 1px 8px #807777
}

#profile_pic {
  padding-top: 25px
}

.coursebox {
  overflow:hidden;
  padding: 0px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
    border-width: 1px;
  border-color: #e7e7e7;
}

.endorsebox {
  overflow:hidden;
  padding: 10px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-style: solid;
    border-width: 1px;
  border-color: #e7e7e7;
}

.marginthis {
margin-left: 1px;
}

.boxdivider {
  margin: 10px;
}

.bigdivider {
  padding: 30px
}

.divider {
  padding: 10px
}

.smalldivider {
  padding: 5px
}

#course_cog {
  margin: 10px
}

.img-responsive {
    margin: 0 auto;
}

.line{
    border-bottom: 1px solid #ccc;
}

#mymodal{
    margin-top: 350px;
}




