<html> 
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel=stylesheet href="{{ url_for('static', filename='css/style.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700" rel="stylesheet" type="text/css"/>
</head>
<body>
  
   <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('assets')}}">endorsevr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="shift"><a href="#"><span class="sr-only">(current)</span></a></li>
        <li><span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('newest')}}">Newest</a></li>
            <li><a href="{{ url_for('oldest')}}">Oldest</a></li>
            <li><a href="{{ url_for('profile')}}">Banner</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('profile')}}">Profile</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="bigdivider"></div>
  
  
  
  <div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{{ asset.name }}</h1>
        <p> Created by {{ assetOwner.username }}</p>
      </div>
    </div>
     <!-- If user is course creator, make course content editable -->   
    <div class="row">
      <div class="col-md-12 text-center">
        {% if asset.user_id == user.id %}
        <a class="btn btn-primary"  href="{{ url_for('editAsset', asset_id=asset.id)}}" role="button">
          <span class="glyphicon glyphicon-cog">
        </a>
        {% endif %}
      </div>
    </div>
    <!-- Check for new alerts -->
    {% with dangers = get_flashed_messages(category_filter=["danger"]) %}
      {% if dangers %}
        {%- for msg in dangers %}
          <div class="divider"></div>
          <div class="row">
            <div class="alert alert-danger col-md-2 col-md-offset-5 text-center" role="alert">{{ msg }}</div>
          </div>
        {% endfor -%}
      {% endif %}
    {% endwith %}
        
    
    {% with successes = get_flashed_messages(category_filter=["success"]) %}
      {% if successes %}
        {%- for msg in successes %}
          <div class="divider"></div>
            <div class="row">
              <div class="alert alert-success col-md-2 col-md-offset-5 text-center" role="alert">{{ msg }}</div>
            </div>
        {% endfor -%}
      {% endif %}
    {% endwith %}
        
    
      

      <div class="divider"></div>
    <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if asset.picture_name != None %}
          <div class="col-md-6">
            <a href="{{ url_for('asset', asset_id=asset.id)}}">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{asset.picture_name}}">
              </a>
          </div>
      {% else %}
          <div class="col-md-6">
            <a href="{{ url_for('asset', asset_id=asset.id)}}">
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
              </a>
          </div>
      {% endif %}
      <div class="col-md-6">
       <div class="bigdivider"></div>
      <h3>Category: {{ asset.category }}</h3>
        <div class="divider"></div>
        <h3>Dimensions: {{ asset.dimensions }}</h3>
        
        <div class="divider"></div>
        <h3>Price: ${{ asset.price }}</h3>
        <div class="divider"></div>
         <a class="btn btn-success" href="{{ url_for('newAsset')}}" role="button">Endorse</a>
        
      
      
      </div>
          </div>
      <div class="row">
      <div class="col-md-6">
        </div>
      <div class="col-md-3"><div class="line"></div>
        </div>
      
      </div>
      <div class="row">
        
        <div class="col-md-6 text-left">
          <div class="divider"></div>
           <h4>{{ asset.tag_line }}</h4>
          </div>
        <div class="col-md-2">

          <div class="divider"></div>
          <div class="row">
            <div class="col-md-12">
           Created by {{ assetOwner.username }}
            </div>
          </div>
          <div class="smalldivider"></div>
          <div class="row">
           <div class="col-md-12">
           {{ assetOwner.website }}
            </div>
          </div>
          <div class="smalldivider"></div>
          <div class="row">
           <div class="col-md-12">
           contact
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="smalldivider"></div>
          <div class="row">
            <div class="col-md-12">
              <a href="{{ url_for('user', user_id=asset.user_id)}}">
           <img class="img-circle"  src="{{assetOwner.profile_pic}}" height="75px">
              </a>
            </div>
          </div>
        </div>
          </div>
      
      
      
      
      <div class="row">
        <div class="col-md-12 text-left"> 
        
            <h2>About this Asset</h2>
         
          <div class="line"></div>
        </div>
      </div>
      
      <div class="row">
      <div class="col-md-6 text-left">
          <div class="divider"></div>
           {{ asset.description }}
          </div>
        <div class="col-md-6 text-left">
          <div class="divider"></div>
           {% if asset.youtube_url %}
      <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ asset.youtube_url }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
          </div>
      
      </div>

      </div>
      </div>
  </div>
</div>
</body>
</html>