{% extends "base.html" %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
         <!-- Body content -->
        <div class="row">
          <div class="col-md-12 text-center">
        <h1>ASSETS</h1>
        </div>
      </div>
      <!-- Show course authoring options if authenticated, otherwise show login option -->
    {% if user %}
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-default" href="{{ url_for('new_project')}}" role="button">New Project</a>
          <a class="btn btn-default" href="{{ url_for('newAsset')}}" role="button">New Asset</a>
        </div>
      </div>
    {% endif %}
        
    <div class="smalldivider"></div>
          
      {% for a in categories %}    
      <div class="row">
        <div class="col-md-12">
        <a href="{{ url_for('category', asset_category=a.category)}}"><h2>{{ a.category }}</h2></a>
          <div class="line"></div>
          <div class="smalldivider"></div>
        </div>
    
        
        


      <div class="row visible-md visible-lg">
      

        <div class="col-md-12">
          <div id="wrapper">
    <div id="columns">
      {% set count = 0 %}
      {% for i in assets %}
      {% if i.category == a.category and count != 10 %}
        <div class="pin">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
              <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.picture_name}}" width="100%">
              </a>
          <div class="line"></div>
          <p class="boxtexttitle"><b>  <a href="{{ url_for('asset', asset_id=i.id)}}">{{ i.name }}</a></b></p>
          <div class="line"></div>
          <p class="boxtext">${{ i.price }}</p>
      </div>
       {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
            </div>
          </div>
        </div>
      </div>


        
        
          

          {% endfor %}
          

          
          
          
          
          
        </div>
      </div>
</div>


{% endblock %}
