{% extends "base.html" %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
         <!-- Body content -->
        <div class="row">
          <div class="col-md-12 text-center">
        <h1>ASSETS</h1>
        </div>
      <!-- Show course authoring options if authenticated, otherwise show login option -->
    {% if user %}
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-default" href="{{ url_for('newAsset')}}" role="button">New Asset</a>
        </div>
      </div>
    {% endif %}
        
    <div class="smalldivider"></div>
          
      <div class="row">
        <a href="{{ url_for('category', asset_category='Clothing')}}"><h2>Clothing</h2></a>
        <div class="line"></div>
        <div class="smalldivider"></div>
        {% set count = 0 %}
        {% for i in assets %}
        {% if i.category == 'Clothing' and count != 10 %}
        <div class="col-md-2 coursebox">
        
        <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if i.picture_name != None %}
          <div class="col-md-12">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.picture_name}}" width="100%">
              </a>
          </div>
      {% else %}
          <div class="col-md-12">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
              </a>
          </div>
      {% endif %}
          </div>
        <div class="smalldivider"></div>
          <div class="row marginthis">
          <div class="col-md-10">
            <p><a href="{{ url_for('asset', asset_id=i.id)}}">{{ i.name }}</a></p>
          </div>
        </div>
        <div class="row marginthis">
          <div class="col-md-12">
          <p>Price: ${{ i.price }}</p>
        </div>
          </div>
      </div>
      {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
          </div>
          
  <div class="divider"></div>
          
      <div class="row">
        <a href="{{ url_for('category', asset_category='Buildings')}}"><h2>Buildings</h2></a>
        <div class="line"></div>
        <div class="smalldivider"></div>
        {% set count = 0 %}
        {% for i in assets %}
        {% if i.category == 'Buildings' and count != 10 %}
        <div class="col-md-2 coursebox">
        
        <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if i.picture_name != None %}
          <div class="col-md-12">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.picture_name}}" width="100%">
              </a>
          </div>
      {% else %}
          <div class="col-md-12">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
              </a>
          </div>
      {% endif %}
          </div>
        <div class="smalldivider"></div>
          <div class="row marginthis">
          <div class="col-md-10">
            <p><a href="{{ url_for('asset', asset_id=i.id)}}">{{ i.name }}</a></p>
          </div>
        </div>
        <div class="row marginthis">
          <div class="col-md-12">
          <p>Price: ${{ i.price }}</p>
        </div>
          </div>
      </div>
      {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
          </div>
          
   <div class="divider"></div>
          
      <div class="row">
        <a href="{{ url_for('category', asset_category='Automobiles')}}"><h2>Automobiles</h2></a>
        <div class="line"></div>
        <div class="smalldivider"></div>
        {% set count = 0 %}
        {% for i in assets %}
        {% if i.category == 'Automobiles' and count != 10 %}
        <div class="col-md-2 coursebox">
        
        <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if i.picture_name != None %}
          <div class="col-md-12">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.picture_name}}" width="100%">
              </a>
          </div>
      {% else %}
          <div class="col-md-12">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
              </a>
          </div>
      {% endif %}
          </div>
        <div class="smalldivider"></div>
          <div class="row marginthis">
          <div class="col-md-10">
            <p><a href="{{ url_for('asset', asset_id=i.id)}}">{{ i.name }}</a></p>
          </div>
        </div>
        <div class="row marginthis">
          <div class="col-md-12">
          <p>Price: ${{ i.price }}</p>
        </div>
          </div>
      </div>
      {% set count = count + 1 %}
        {% endif %}
      {% endfor %}
          </div>
          
          
          
          
          
          
      </div>
    
    
      </div>
  </div>
</div>

{% endblock %}
