{% extends "base.html" %}
{% block content %}


  <div class="bigdivider"></div>
  <div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{{ asset.name }}</h1>
      </div>
    </div>
     <!-- If user is course creator, make course content editable -->   
    <div class="row">
      <div class="col-md-12 text-center">
        {% if asset.user_id == user.id %}
        <a class="btn btn-primary"  href="{{ url_for('editAsset', asset_id=asset.id)}}" role="button">
          <span class="glyphicon glyphicon-cog">
        </a>
        {% endif %}
      </div>
    </div>
    


      <div class="divider"></div>
    <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      <div class="col-md-6">

     <iframe src="" id="api-frame" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" width="500px" height="500px"></iframe>
    
      </div>


      <div class="col-md-6 visible-md visible-lg">

        <h3>From project <a href="{{ url_for('project', project_id=project.id)}}">{{ project.name }}</a></h3>
        <div class="divider"></div>
        <h3>Category: {{ asset.category }}</h3>
        <div class="divider"></div>
        <h3>Dimensions: {{ asset.dimensions }}</h3>
        
        <div class="divider"></div>
        <h3>Price: ${{ asset.price }}</h3>
        <div class="divider"></div>
         <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          Endorse
          </button>
        <div class="smalldivider"></div>
        </div>
      </div>
  

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Endorse</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-md-12">
          This asset requires texture dimensions of {{ asset.dimensions }} and a transparent background.
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
        <div class="col-md-12">
          Please upload a texture that meets these specifications.
          </div>
        </div>
        
        <div class="divider"></div>
        
            <div class="row">
                <div class="col-md-6">
        <form action="{{ url_for('asset', asset_id=asset.id)}}" method='post' enctype="multipart/form-data">
            <div class="form-group">
              <p class="help-block">Upload Texture</p>
            <input type="file" name="file" required="required">
          </div>
        
    </div>
        </div>
        
      </div>
      <div class="modal-footer">
        {% if user %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Purchase</button>
        {% else %}
        <fieldset disabled>
        <p class="help-block">Please log in to endorse.</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Purchase</button>
        </fieldset>
        {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- Modal end -->     

      
      
      
      <div class="row">
      <div class="col-md-6">
        </div>
      <div class="col-md-3"><div class="line"></div>
        </div>
      
      </div>
      
      
      <div class="row visible-md visible-lg">
        
        <div class="col-md-6 text-center">
          <div class="divider"></div>
           <h4><i>{{ asset.tag_line }}</i></h4>
          </div>
        <div class="col-md-2">

          <div class="divider"></div>
          <div class="row">
            <div class="col-md-12">
           Created by {{ assetOwner.username }}
            </div>
          </div>
          <div class="smalldivider"></div>
          <div class="row">
           <div class="col-md-12">
           {{ assetOwner.website }}
            </div>
          </div>
          <div class="smalldivider"></div>
          <div class="row">
           <div class="col-md-12">
           contact
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="smalldivider"></div>
          <div class="row">
            <div class="col-md-12">
                     <div class="project-img-container">
          <a href="{{ url_for('user', user_id=assetOwner.id)}}">
        <img class="img-respnsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{assetOwner.profile_pic}}" width="100px" height="100px"></a>
          </div>
            </div>
          </div>
        </div>
          </div>
      
      <div class="row visible-md visible-lg">
        <div class="col-md-12 text-left"> 
        
            <div class="smalldivider"></div>
         
          <div class="line"></div>
        </div>
      </div>

      </div>
      </div>
  </div>
</div>

<script>

var iframe = document.getElementById( 'api-frame' );
var version = '1.0.0';
var urlid = '{{ asset.model_url }}';
var client = new Sketchfab( version, iframe );

client.init( urlid, {
    success: function onSuccess( api ){
        //API is ready to use
        api.start();
    },
    error: function onError() {
        console.log( 'Viewer error' );
    }
} );
</script>

{% endblock %}