<!DOCTYPE html>
<html>
<head>

    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
  <script type="text/javascript" src="{{ url_for('static', filename='js/sketchfab-viewer-1.0.0.js') }}"></script>

  
  <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

  <link rel=stylesheet href="{{ url_for('static', filename='css/style.css')}}">
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700">
</head>
<body>
  
 <nav class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index')}}">endorsevr</a>
    </div>
   <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('projects')}}">All</a></li>
            <li><a href="{{ url_for('newest_projects')}}">Newest</a></li>
            <li><a href="{{ url_for('oldest_projects')}}">Oldest</a></li>
          </ul>
        </li>
        <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Assets</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('assets')}}">All</a></li>
            <li><a href="{{ url_for('newest')}}">Newest</a></li>
            <li><a href="{{ url_for('oldest')}}">Oldest</a></li>
            <li><a href="{{ url_for('priceHigh')}}">Price High</a></li>
            <li><a href="{{ url_for('priceLow')}}">Price Low</a></li>
             <li><a href="{{ url_for('category', asset_category='Clothing')}}">Clothing</a></li>
            <li><a href="{{ url_for('category', asset_category='Automobiles')}}">Automobiles</a></li>
            <li><a href="{{ url_for('category', asset_category='Buildings')}}">Buildings</a></li>
            <li><a href="{{ url_for('category', asset_category='Billboards')}}">Billboards</a></li>
            <li><a href="{{ url_for('category', asset_category='Miscellaneous')}}">Miscellaneous</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      
          <!-- Check for new danger or success alerts -->
    {% with dangers = get_flashed_messages(category_filter=["danger"]) %}
        {% if dangers %}
          {%- for msg in dangers %}
            <p class="fadeIn navbar-text">{{ msg }}</p>
          {% endfor -%}
        {% endif %}
    {% endwith %}
        
    {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
          {%- for msg in successes %}
        <p class="fadeIn navbar-text">{{ msg }}</p>
          {% endfor -%}
        {% endif %}
    {% endwith %}
  
        
        
        
        {% if user %}
     
        {% if user.advertiser == False %}
          <li><a href="{{ url_for('endorsements')}}">Endorsments
          {% if endorsements %}
          <span class="badge">{{ endorsements.num}}</span></a></li>
          {% else %}
          <span class="badge">0</span></a></li>
        {% endif %}
     
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('profile')}}">Profile</a></li>
            <li><a href="{{ url_for('new_project')}}">New Project</a></li>
            <li><a href="{{ url_for('newAsset')}}">New Asset</a></li>
            <li><a href="{{ url_for('settings')}}">Settings</a></li>
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
          </ul>
        </li>
     
     {% else %}
             <li><a href="{{ url_for('endorsements')}}">Endorsed 
          {% if endorsements %}
          <span class="badge">{{ endorsements.num}}</span></a></li>
          {% else %}
          <span class="badge">0</span></a></li>
        {% endif %}
     <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('endorsements')}}">Endorsed</a></li>
            <li><a href="{{ url_for('settings')}}">Settings</a></li>
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
          </ul>
        </li>
     {% endif %}
        
      </ul>
      {% else %}
      <li><a href="{{ url_for('register')}}">Register</a></li>
      <li><a href="{{ url_for('login')}}">Login</a></li>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  

  

{% block content %}

{% endblock %}


</body>
</html>