{% extends "base.html" %}
{% block content %}
 <div class="bigdivider"></div> 
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1> Edit Asset</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" id="this_form">
        <form action="{{ url_for('editAsset', asset_id=asset.id)}}" method='post' enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="name" maxlength="29" id="name" class="form-control" placeholder="{{ asset.name }}">
          </div>
          <div class="form-group">
            <p class="help-block">Add your 3d model.</p>
            <input type="file" name="file">
          </div>
          <div class="form-group">
            <p class="help-block">Add a picture of your model.</p>
            <input type="file" name="picture">
          </div>
          <div class="form-group">
          <textarea type="text" rows="3" name="tagline" placeholder="Tagline" class="form-control"></textarea>
          </div>
          <div class="form-group">
     <input type="text" name="dimensions" id="dimensions" class="form-control" placeholder="Dimensions, e.g. 50x50">
          </div>
          <div class="form-group">
            <p class="help-block">Category</p>
            <select name="category" id="category" placeholder="Category" class="form-control">
              <option id="Clothing" value="Clothing">Clothing</option>
              <option id="Vehicles" value="Vehicles">Vehicles</option>
              <option id="Buildings" value="Buildings">Buildings</option>
              <option id="Tattoos" value="Tattoos">Tattoos</option>
              <option id="Adverts" value="Adverts">Adverts</option>
              <option id="Miscellaneous" value="Miscellaneous">Miscellaneous</option>
            </select>
          </div>
          

          <div class="form-group" id="sub-form"> 
            <p class="help-block">SubCategory</p>
            <select name="subcategory" class="form-control">
              <option id="sub-1" value=""></option>
              <option id="sub-2" value=""></option>
              <option  id="sub-3" value=""></option>
              <option  id="sub-4" value=""></option>
            </select>
          </div>
          
          
          
          <div class="form-group">
            <p class="help-block">Project</p>
            <select name="project" id="project" class="form-control" required="required">
              {% for i in projects %}
              <option value="{{i.id}}">{{i.name}}</option>
              {% endfor %}
            </select>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Edit</button>
        </form>
        <a class="btn btn-danger" href="{{ url_for('deleteAsset', asset_id=asset.id)}}" role="button">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </div>
    </div>
  </div>

<script>
//$(document).ready(function() {
//    $('#form').formValidation({
//        framework: 'bootstrap',
//        icon: {
//            valid: 'glyphicon glyphicon-ok',
//            invalid: 'glyphicon glyphicon-remove',
//            validating: 'glyphicon glyphicon-refresh'
//        },
//        fields: {
//            name: {
//                validators: {
//                    notEmpty: {
//                        message: 'The name is required'
//                    },
//                    stringLength: {
//                        min: 6,
//                        max: 29,
//                        message: 'The name must be more than 6 and less than 29 characters long'
//                    }
//                }
//            },
//            price: {
//                validators: {
//                    notEmpty: {
//                        message: 'The price is required'
//                    },
//                    numeric: {
//                        message: 'The price must be a number'
//                    }
//                }
//            }//,
//          //file: {
//                //validators: {
//                   // file: {
//                        //minFiles: 30,
//                        //maxFiles: 60,
//                    //    maxSize: 2097152,   // 2048 * 1024
//                     //   extension: 'jpeg,png,jpg',
//                       // type: 'image/jpeg,image/png,image/jpg',
//                       // message: 'Please upload a minimum of 30 photos'
//                    //}
//                //}
//            //}
//        }
//    });
//});
  
  $(function() {
  $("#category").change(function() {
  if ($("#Clothing").is(":selected")) {
      $("#sub-form").show();
      $("#sub-1").html("Shoes");
      $("#sub-1").attr("value","Shoes");
      $("#sub-2").html("Hat");
      $("#sub-2").attr("value","Hat");
      $("#sub-3").html("Shirt");
      $("#sub-3").attr("value","Shirt");
      $("#sub-4").html("Pants");
      $("#sub-4").attr("value","Pants");
      
    } else if ($("#Vehicles").is(":selected")){
      $("#sub-form").show();
      $("#sub-1").html("Car");
      $("#sub-1").attr("value","Car");
      $("#sub-2").html("Bus");
      $("#sub-2").attr("value","Bus");
      $("#sub-3").html("Aircraft");
      $("#sub-3").attr("value","Aircraft");
      $("#sub-4").html("Train");
      $("#sub-4").attr("value","Train");
      
    } else if ($("#Buildings").is(":selected")){
      $("#sub-form").show();
      $("#sub-1").html("Sky Scraper");
      $("#sub-1").attr("value","Sky Scraper");
      $("#sub-2").html("Residential");
      $("#sub-2").attr("value","Residential");
      $("#sub-3").html("Business");
      $("#sub-3").attr("value","Business");
      $("#sub-4").html("Train");
      $("#sub-4").attr("value","Train");
      
    } else if ($("#Tattoos").is(":selected")){
      $("#sub-form").show();
      $("#sub-1").html("Arm");
      $("#sub-1").attr("value","Arm");
      $("#sub-2").html("Head");
      $("#sub-2").attr("value","Head");
      $("#sub-3").html("Leg");
      $("#sub-3").attr("value","Leg");
      $("#sub-4").html("Neck");
      $("#sub-4").attr("value","Neck");
      
    } else if ($("#Adverts").is(":selected")){
      $("#sub-form").show();
      $("#sub-1").html("Billboard");
      $("#sub-1").attr("value","Billboard");
      $("#sub-2").html("Flyer");
      $("#sub-2").attr("value","Flyer");
      $("#sub-3").html("Television");
      $("#sub-3").attr("value","Television");
      $("#sub-4").html("Graffiti");
      $("#sub-4").attr("value","Graffiti");
    }
      else if ($("#Miscellaneous").is(":selected")){
      $("#sub-form").hide();
      $("#sub-1").html("");
      $("#sub-1").attr("value","");
      $("#sub-2").attr("value","");
      $("#sub-2").html("");
      $("#sub-3").attr("value","");
      $("#sub-3").html("");
      $("#sub-4").attr("value","");
      $("#sub-4").html("");
    }
    
  }).trigger('change');
});
  
</script>
{% endblock %}