{% extends "base.html" %}
{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/validation/formValidation.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/validation/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/formvalidation.min.css')}}">
<div class="bigdivider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1> Edit {{ project.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" id="this_form">
        <form action="{{ url_for('new_project')}}" id="form" method='post' enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="name" maxlength="29" class="form-control" placeholder="Project Name">
          </div>
          <div class="form-group">
            <p class="help-block">Add a picture for your project.</p>
            <input type="file" name="file">
          </div>
          <div class="form-group">
          <textarea type="text" rows="2" name="tagline" placeholder="Tagline" class="form-control"></textarea>
          </div>
          <div class="form-group">
          <textarea type="text" rows="3" name="description" placeholder="Description"  class="form-control"></textarea>
          </div>
          
          <div class="form-group">
            <p class="help-block">Category</p>
            <select name="category" placeholder="Category" class="form-control" >
              <option value="Gaming">Gaming</option>
              <option value="Film and Animation">Film and Animation</option>
              <option value="Education">Education</option>
            </select>
          </div>

          <div class="form-group">
          <textarea type="text" rows="1" name="website" placeholder="{{project.website}}"  class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="text" name="youtube" class="form-control" placeholder="youtube.com/{{project.youtube_url}}">
          </div>
          
          <p class="help-block">Social links</p>
           <div class="form-group">
          <button type="button" class="btn btn-default" onclick="toggleTwitch()"><i class="fa fa-twitch"></i></button>
             <button type="button" class="btn btn-default" onclick="toggleSteam()"><i class="fa fa-steam"></i></button>
             <button type="button" class="btn btn-default" onclick="toggleTwitter()"><i class="fa fa-twitter-square"></i></button>
             
          </div>
          <div id="twitch" class="social_link form-group">
            <div class="input-group">
            <div class="input-group-addon">twitch.tv/</div>
            <input type="text" name="twitch" class="form-control" placeholder="{{project.twitch}}">
            </div>
          </div>
          <div id="steam" class="social_link form-group">
            <div class="input-group">
            <div class="input-group-addon">store.steampowered.com/app/</div>
            <input type="text" name="steam" class="form-control" placeholder="{{project.steam}}">
            </div>
          </div>
          <div id="twitter" class="social_link form-group">
            <div class="input-group">
            <div class="input-group-addon">twitter.com/</div>
            <input type="text" name="twitter" class="form-control" placeholder="{{project.twitter}}">
            </div>
          </div>
          
        <button class="btn btn-primary btn-block" type="submit">Edit</button>
      </form>
      <div class="smalldivider"></div>
        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" role="button">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
  </div>
    
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Delete {{ project.name }}?</h3>
      </div>
      <div class="modal-body">

          <div class="row">
      <div class="col-md-12">
<p>Are you sure you want to delete {{ project.name }}?</p>
  
        <a class="btn btn-danger" href="{{ url_for('delete_project', project_id=project.id)}}" role="button">
          Yes</span>
        </a>
        <a class="btn btn-primary" data-dismiss="modal" role="button">
          No
        </a>

      </div>
    </div>
        
      </div>
    </div>
  </div>
</div>
 <!-- Delete Modal --> 
    
</div>

<script>
$(document).ready(function() {
    $('#form').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The name must be more than 6 and less than 30 characters long'
                    }
                }
            },
          description: {
                validators: {
                    stringLength: {
                        max: 741,
                        message: 'The description must be no more than 741 characters long'
                    }
                }
            }
        }
    });
});
  
function toggleTwitch(){
  $('#twitch').toggle();  
}
function toggleTwitter(){
  $('#twitter').toggle(); 
}
function toggleSteam(){
  $('#steam').toggle();
}
</script>



{% endblock %}