{% extends "base.html" %}
{% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1> Edit Asset</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" id="this_form">
        <form action="{{ url_for('editAsset', asset_id=asset.id)}}" method='post' enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="{{ asset.name }}">
          </div>
          <div class="form-group">
            <p class="help-block">Add an exciting picture.</p>
            <input type="file" name="file">
          </div>
          <div class="form-group">
            <textarea type="text" rows="3" name="description" placeholder="{{ asset.description }}" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <p class="help-block">The dimensions of your endorsement space, e.g. 50x50</p>
            <input type="text" name="dimensions" id="dimensions" class="form-control" placeholder="Dimensions, e.g. 50x50">
          </div>
          <div class="form-group">
            <p class="help-block">Category</p>
            <select name="category" class="form-control">
             <option value="Clothing">Clothing</option>
              <option value="Automobiles">Automobiles</option>
              <option value="Buildings">Buildings</option>
              <option value="Tattoos">Tattoos</option>
              <option value="Billboards">Billboards</option>
              <option value="Miscellaneous">Miscellaneous</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="youtube" id="youtube" class="form-control" placeholder="Youtube Url">
          </div>
          <button class="btn btn-primary btn-block" type="submit">Edit</button>
        </form>
        <a class="btn btn-danger" href="{{ url_for('deleteAsset', asset_id=asset.id)}}" role="button">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </div>
    </div>
  </div>

{% endblock %}