{% extends "base.html" %}
{% block content %} 
<div class="bigdivider"></div>
<div class="container">
    <div class="row">
      <div class="col-md-12">

{% if user.advertiser == False %}
         <!-- Body content -->
        <div class="row">
          <div class="col-md-12 text-center">
        <h1>Endorsments</h1>
        </div>
      <!-- Show course authoring options if authenticated, otherwise show login option -->
   
        
    <div class="smalldivider"></div>
         
      {% for i in endorsements.endorse %}
      <div class="row">
        <a href="{{ url_for('category', asset_category='Clothing')}}"><h2>{{ i.asset_name }}</h2></a>
        <div class="line"></div>
        <div class="smalldivider"></div>
      
        <div class="col-md-12 endorsebox">
          <div class="smalldivider"></div>
          
          <div class="row">
          <div class="col-md-4">
             <h3>Endorsement Status: 
               <div class="smalldivider"></div>
               <p class="text-danger">{% if i.active == True %} Active </p>
               {% else %}
               <p class="text-success">Completed{% endif %} </p>     </h3>
           </div>
            <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.texture_file}}" width="200px">
                <div class="smalldivider"></div>
              </div>
              <div class="col-md-2">
              <div class="divider"></div>
                  <div class="divider"></div>
              <i class="text-success fa fa-long-arrow-right fa-5x"></i>

              </div>
              <div class="col-md-4">
              <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.asset_picture}}" width="200px">
              </div>
            </div>  
           </div>
          </div>
          
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <a class="btn btn-default btn-block" href="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.texture_file}}" download="{{i.texture_file}}" role="button">Download Texture</a>
            </div>
          </div>
          
          
          <div class="row">
          <div class="col-md-12">
           Asset by {{ i.advertiser_username }}
          </div>
            </div>
          
        <div class="smalldivider"></div>
          {% if i.active == True %}
          <form action="{{ url_for('endorsements')}}" method='post' enctype="multipart/form-data">
          <input name="endorse_id" type="hidden" value="{{ i.id }}">
            <button class="btn btn-primary btn-block" type="submit">Complete</button>
          </form>
          {% endif %}
      </div>
          </div>
          {% endfor %}
          
  <div class="divider"></div>
          
{% else %}
    
     
          
<!-- Body content -->
        <div class="row">
          <div class="col-md-12 text-center">
        <h1>Endorsed</h1>
        </div>
      <!-- Show course authoring options if authenticated, otherwise show login option -->
   
        
    <div class="smalldivider"></div>
         
      {% for i in endorsements.endorse %}
      <div class="row">
        <a href="{{ url_for('category', asset_category='Clothing')}}"><h2>{{ i.asset_name }}</h2></a>
        <div class="line"></div>
        <div class="smalldivider"></div>
      
        <div class="col-md-12 endorsebox">
          <div class="smalldivider"></div>
          
          <div class="row">
          <div class="col-md-4">
             <h3>Endorsement Status: 
               <div class="smalldivider"></div>
               <p class="text-danger">{% if i.active == True %} Active </p>
               {% else %}
               <p class="text-success">Completed{% endif %} </p>     </h3>
           </div>
            <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.texture_file}}" width="200px">
                <div class="smalldivider"></div>
              </div>
              <div class="col-md-2">
              <div class="divider"></div>
                  <div class="divider"></div>
              <i class="text-success fa fa-long-arrow-right fa-5x"></i>

              </div>
              <div class="col-md-4">
              <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.asset_picture}}" width="200px">
              </div>
            </div>  
           </div>
          </div>
          

          
          
          <div class="row">
          <div class="col-md-12">
           Asset by <a href="{{ url_for('user', user_id=i.creator_id)}}">{{ i.creator_username }}</a>
          </div>
            </div>
          
        <div class="smalldivider"></div>
          {% if i.active == True %}
          <p>Waiting for {{ i.creator_username }} to complete transaction.</p>
          {% endif %}
      </div>
          </div>
          {% endfor %}
          
  <div class="divider"></div>          
    
          
{% endif %}
          
          
          
          
          
      </div>
    
    
      </div>
  </div>
</div>

{% endblock %}