{% extends "base.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row">
  <div id="front_heading" class="col-md-12 text-center">
    <div class="bigdivider"></div>
    <div class="bigdivider"></div>
<div class="divider"></div>
    <h1 class="animated fadeInUp"><h1> A simple way to monitize the metaverse.</h1>
      <div class="smalldivider"></div>
    <h4>endorsevr connects content creators with advertisers,</h4>
    <h4>utilizing space in virtual worlds.</h4>
    <div class="divider"></div>
    <a id="homebtn" class="btn btn-default" href="{{ url_for('register')}}" role="button">endorse today</a>
    <div class="bigdivider"></div>
    <div class="bigdivider"></div>
    <div class="bigdivider"></div>
  </div>
 </div>
  <div class="row">
    <div class="col-md-12 text-center front">
      <div class="col-md-3">
        <div class="divider"></div>
      <i class="fa fa-gamepad fa-5x"></i>
        <p>Share Your Creations</p>
        <div class="divider"></div>
      </div>
      <div class="col-md-3">
       <div class="divider"></div>
      <i class="fa fa-retweet fa-5x"></i>
        <p>Connect With Advertisers</p>
        <div class="divider"></div>
      </div>
      <div class="col-md-3">
       <div class="divider"></div>
      <i class="fa fa-cloud fa-5x"></i>
        <p>Combine Content</p>
        <div class="divider"></div>
      </div>
      <div class="col-md-3">
       <div class="divider"></div>
      <i class="fa fa-money fa-5x"></i>
        <p>Monitize Your Work</p>
        <div class="divider"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="bigdivider"></div>
      <div class="bigdivider"></div>
      <div class="divider"></div>
      <h1>Your Work Your Way</h1>
      
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
    </div>
  </div>

</div>



{% endblock %}