{% extends "base.html" %}
{% block content %}
  
<div class="row">
<div class="col-md-12">
  <img class="img-responsive" src="http://placehold.it/500x150" width="100%">
   <a class="btn btn-default" href="{{ url_for('newAsset')}}" role="button">Create</a>
  <a class="btn btn-default" href="{{ url_for('newAsset')}}" role="button">Endorse</a>
  </div>
</div>
<div class="row">
<div class="col-md-12">
  <img class="img-responsive" src="http://placehold.it/250/D00000" width="100%">
  </div>
</div>

{% endblock %}