{% extends "base.html" %}
{% block content %}



  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1> New Asset</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" id="this_form">
        <form action="{{ url_for('newAsset')}}" id="form" method='post' enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="name" maxlength="29" id="name" class="form-control" required="required" placeholder="Asset Name">
          </div>
          <div class="form-group">
            <p class="help-block">Add a picture of your digital asset.</p>
            <input type="file" name="file" required="required">
          </div>
          <div class="form-group">
          <textarea type="text" rows="3" name="tagline" placeholder="Tagline" required="required" class="form-control"></textarea>
          </div>
          <div class="form-group">
     <input type="text" name="dimensions" id="dimensions" class="form-control" required="required" placeholder="Dimensions, e.g. 50x50">
          </div>
        
          <div class="form-group">
            <p class="help-block">Category</p>
            <select name="category" placeholder="Category" class="form-control">
              <option value="Clothing">Clothing</option>
              <option value="Automobiles">Automobiles</option>
              <option value="Buildings">Buildings</option>
              <option value="Tattoos">Tattoos</option>
              <option value="Billboards">Billboards</option>
              <option value="Miscellaneous">Miscellaneous</option>
            </select>
          </div>
          
          <div class="form-group">
            <p class="help-block">SubCategory</p>
            <select name="subcategory" class="form-control">
              <option value="Billboard">Shirt</option>
              <option value="Posters">Shoes</option>
              <option value="Shoes">Pants</option>
              <option value="Shirt">Hat</option>
            </select>
          </div>
          
          <div class="form-group">
            <p class="help-block">Project</p>
            <select name="project" class="form-control" required="required">
              {% for i in projects %}
              <option value="{{i.id}}">{{i.name}}</option>
              {% endfor %}
            </select>
          </div>
          
          <div class="form-group">
            <input type="text" name="youtube" id="youtube" class="form-control" placeholder="Youtube Url">
          </div>
          
          <div class="form-group">
            <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" name="price" id="price" class="form-control" required="required" placeholder="Amount">
            </div>
          </div>
        <button class="btn btn-primary btn-block" type="submit">Create</button>
      </form>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
    $('#form').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    },
                    stringLength: {
                        min: 6,
                        max: 29,
                        message: 'The name must be more than 6 and less than 29 characters long'
                    }
                }
            },
            price: {
                validators: {
                    notEmpty: {
                        message: 'The price is required'
                    },
                    numeric: {
                        message: 'The price must be a number'
                    }
                }
            }
        }
    });
});
</script>


{% endblock %}