{% extends "base.html" %}
{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/validation/formValidation.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/validation/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/formvalidation.min.css')}}">
<div class="bigdivider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1> New Project</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" id="this_form">
        <form action="{{ url_for('new_project')}}" id="form" method='post' enctype="multipart/form-data">
          <div class="form-group">
          <p class="text-info">Required</p>
          </div>
          <div class="form-group">
            <input type="text" name="name" maxlength="29" class="form-control" required="required" placeholder="Project Name">
          </div>
          <div class="form-group">
            <p class="help-block">Add a picture for your project</p>
            <input type="file" name="file" required="required">
          </div>
          <div class="form-group">
          <textarea type="text" rows="1" name="tagline" placeholder="Short Tagline" required="required" class="form-control"></textarea>
          </div>
          <div class="form-group">
          <textarea type="text" rows="10" name="description" placeholder="Full Description"  required="required" class="form-control"></textarea>
          </div>
          
          <p class="help-block">Category</p>
          <div class="form-group">
            <select name="category" placeholder="Category" class="form-control" required="required">
              <option value="Gaming">Gaming</option>
              <option value="Film and Animation">Film and Animation</option>
              <option value="Education">Education</option>
            </select>
          </div>
          <p class="help-block">Youtube Video</p>
          <div class="form-group">
            <input type="text" name="youtube" class="form-control" required="required" placeholder="Youtube Url">
          </div>
          <div class="form-group">
          <p class="text-info">Optional</p>
          </div>
           <p class="help-block">Website</p>
          <div class="form-group">
          <textarea type="text" rows="1" name="website" placeholder="projectwebsite.com" class="form-control"></textarea>
          </div>
          <p class="help-block">Social links</p>
           <div class="form-group">
          <button type="button" class="btn btn-default" onclick="toggleTwitch()"><i class="fa fa-twitch"></i></button>
             <button type="button" class="btn btn-default" onclick="toggleSteam()"><i class="fa fa-steam"></i></button>
             <button type="button" class="btn btn-default" onclick="toggleTwitter()"><i class="fa fa-twitter-square"></i></button>
             
          </div>
          <div id="twitch" class="social_link form-group">
            <div class="input-group">
            <div class="input-group-addon">twitch.tv/</div>
            <input type="text" name="twitch" class="form-control">
            </div>
          </div>
          <div id="steam" class="social_link form-group">
            <div class="input-group">
            <div class="input-group-addon">store.steampowered.com/app/</div>
            <input type="text" name="steam" class="form-control">
            </div>
          </div>
          <div id="twitter" class="social_link form-group">
            <div class="input-group">
            <div class="input-group-addon">twitter.com/</div>
            <input type="text" name="twitter" class="form-control">
            </div>
          </div>
          
        <button class="btn btn-primary btn-block" type="submit">Create</button>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#form').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The name must be more than 6 and less than 30 characters long'
                    }
                }
            },
          description: {
                validators: {
                    notEmpty: {
                        message: 'Description is required'
                    },
                    stringLength: {
                        max: 741,
                        message: 'The description must be no more than 741 characters long'
                    }
                }
            }
        }
    });
});



function toggleTwitch(){
  $('#twitch').toggle(); 
  $('#twitch input').val("");
}
function toggleTwitter(){
  $('#twitter').toggle(); 
  $('#twitter input').val("");
}
function toggleSteam(){
  $('#steam').toggle(); 
  $('#steam input').val("");
}
</script>



{% endblock %}