<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel=stylesheet href="{{ url_for('static', filename='css/style.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700" rel="stylesheet" type="text/css"/>
</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('assets')}}">endorsevr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="shift"><a href="#"><span class="sr-only">(current)</span></a></li>
        <li><span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('newest')}}">Newest</a></li>
            <li><a href="{{ url_for('oldest')}}">Oldest</a></li>
            <li><a href="{{ url_for('profile')}}">Banner</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('profile')}}">Profile</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  
  
  <div class="bigdivider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" id="profile_pic">
        <img class="img-circle" src="{{user.profile_pic}}" height="100px">
      </div>
      <div class="col-md-12 text-center">
        <h3>{{ user.username }}</h3>
      </div>
    </div>
  
    <div class="divider"></div>
          
      <div class="row">
        <h2>Assets</h2>
        <div class="line"></div>
        <div class="smalldivider"></div>
        {% for i in assets %}
        <div class="col-md-2 coursebox">
        
        <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if i.picture_name != None %}
          <div class="col-md-12">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.picture_name}}" width="100%">
              </a>
          </div>
      {% else %}
          <div class="col-md-12">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
              </a>
          </div>
      {% endif %}
          </div>
        <div class="smalldivider"></div>
          <div class="row marginthis">
          <div class="col-md-10">
            <p><a href="{{ url_for('asset', asset_id=i.id)}}">{{ i.name }}</a></p>
          </div>
        </div>
        <div class="row marginthis">
          <div class="col-md-12">
          <p>Price: ${{ i.price }}</p>
        </div>
          </div>
      </div>
    {% endfor %}
          </div>
    
    <div class="row">
      <div id="profile_button"class="col-md-12 text-center">
        <a class="btn btn-primary"  href="{{ url_for('logout')}}" role="button">
          <span class="glyphicon glyphicon-log-out">
          </span>
        </a>
      </div>
    </div>
</div>
</body>
</html>
