{% extends "base.html" %}
{% block content %}
  
  
  <div class="bigdivider"></div>
  <div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{{ project.name }}</h1>
        <p>{{ project.tag_line }}</p>
      </div>
    </div>
     <!-- If user is course creator, make course content editable -->   
    <div class="row">
      <div class="col-md-12 text-center">
        {% if project.user_id == user.id %}
        
          <span class="glyphicon glyphicon-cog">

        {% endif %}
      </div>
    </div>

        
    
      

      <div class="divider"></div>

    <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      <div class="col-md-6">
        
        <div class="row">
        <div class="col-md-12 text-left">
      {% if project.youtube_url %}
      

<iframe width="570" height="340" src="https://www.youtube.com/embed/{{ project.youtube_url }}" frameborder="0" allowfullscreen></iframe>



      {% elif project.picture_name %}

            <a href="{{ url_for('asset', asset_id=project.id)}}">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{project.picture_name}}">
              </a>

      {% else %}

            <a href="{{ url_for('asset', asset_id=project.id)}}">
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
              </a>

      {% endif %}
      </div>

        
        
      
      <div class="row visible-md visible-lg">
        <div class="col-md-12 text-left"> 
        <div class="divider"></div>
            <h2>About this Project</h2>
         
          <div class="line"></div>
        </div>
      </div>
      
      <div class="row visible-md visible-lg">
      <div class="col-md-12 text-left">
          <div class="divider"></div>
        {% for i in description %}
        <p>{{ i.text }}</p>
        {% endfor %}
        <div class="divider"></div>
          </div>
        
      </div>
      
      <div class="row visible-md visible-lg">
        <div class="col-md-12 text-left"> 
          <div class="line"></div>
          <div class="divider"></div>

        <div class="project-img-container">
          <a href="{{ url_for('user', user_id=assetOwner.id)}}">
        <img class="img-respnsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{assetOwner.profile_pic}}" width="100px" height="100px"></a>
          </div>

          <h3>Created by  {{ assetOwner.username }}</h3>

          
         
          
        </div>
      </div>
        </div>
      
      
      </div>

      
      <div class="col-md-6"> 
      <div class="row visible-md visible-lg  visible-sm visible-xs">
      

        <div class="col-md-12">
          Assets
         
          <div class="line"></div>
          <div class="smalldivider"></div>
 
          <div id="wrapper">
    <div id="projectcolumns">
      {% for i in assets %}
        <div class="projectpin">

            <a href="{{ url_for('asset', asset_id=i.id)}}">
              <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.picture_name}}" width="100%">
              </a>
          <div class="line"></div>
          <p class="boxtexttitle"><b>{{ i.name }}</b></p>
          <div class="line"></div>
          <p class="boxtext">${{ i.price }}</p>

        </div>
      {% endfor %}
            </div>
          </div>
          
          

          </div>
         
      </div>

        </div>
      </div>
      
      

      
    
      </div>
  </div>
</div>

{% endblock %}