{% extends "base.html" %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
         <!-- Body content -->
        <div class="row">
          <div class="col-md-12 text-center">
        <h1>PROJECTS</h1>
        </div>
      <!-- Show course authoring options if authenticated, otherwise show login option -->
    {% if user %}
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-default" href="{{ url_for('new_project')}}" role="button">New Project</a>
          <a class="btn btn-default" href="{{ url_for('newAsset')}}" role="button">New Asset</a>
        </div>
      </div>
    {% endif %}
        
    <div class="smalldivider"></div>
          
      {% for i in categories %}    
      <div class="row">
        <div class="col-md-12">
        <a href="{{ url_for('category', asset_category=i.category)}}"><h2>{{ i.category }}</h2></a>
          <div class="line"></div>
          <div class="smalldivider"></div>
        </div>
    
        <div id="assetmargin" class="row visible-xs">
          <div class="col-md-12">
        {% set count = 0 %}
        {% for a in projects %}
        {% if a.category == i.category and count != 8 %}
        <div class="col-xs-3 coursebox">
        <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if a.picture_name != None %}
          <div class="col-md-12">

            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{a.picture_name}}" width="100%">

          </div>
      {% else %}
          <div class="col-md-12">

            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">

          </div>
      {% endif %}
          </div>
        <div class="smalldivider"></div>
          <div class="row marginthis">
          <div class="col-md-10">
            <p>{{ a.name }}</p>
          </div>
        </div>

      </div>
      {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
          </div>
          </div>
        
        <div id="assetmargin"  class="row visible-sm">
          <div class="col-md-12">
        {% set count = 0 %}
        {% for a in projects %}
        {% if a.category == i.category and count != 10 %}
        <div class="col-sm-2 coursebox">
        <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if a.picture_name != None %}
          <div class="col-md-12">
           
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{a.picture_name}}" width="100%">
 
          </div>
      {% else %}
          <div class="col-md-12">
           
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
            
          </div>
      {% endif %}
          </div>
        <div class="smalldivider"></div>
          <div class="row marginthis">
          <div class="col-md-10">
            <p>{{ a.name }}</p>
          </div>
        </div>
      </div>
      {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
          </div>
          </div>
        
        <div class="row visible-md">
          <div class="col-md-12">
        {% set count = 0 %}
        {% for a in projects %}
        {% if a.category == i.category and count != 10 %}
        <div class="col-md-2 coursebox">
        <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if a.picture_name != None %}
          <div class="col-md-12">
       
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{a.picture_name}}" width="100%">
            
          </div>
      {% else %}
          <div class="col-md-12">
         
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
        
          </div>
      {% endif %}
          </div>
        <div class="smalldivider"></div>
          <div class="row marginthis">
          <div class="col-md-10">
            <p>{{ a.name }}</p>
          </div>
        </div>
      </div>
      {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
          </div>
          </div>
        
        
         <div class="row visible-lg">
          <div class="col-md-12">
        {% set count = 0 %}
        {% for a in projects %}
        {% if a.category == i.category and count != 10 %}
        <div class="col-md-2 coursebox">
        <div class="row">
          <!-- Check if course has a picture, assign default picture if not -->
      {% if a.picture_name != None %}
          <div class="col-md-12">
          <a href="{{ url_for('project', project_id=a.id)}}">
            <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{a.picture_name}}" width="100%">
            </a>
          </div>
      {% else %}
          <div class="col-md-12">
        
            <img class="img-responsive" src="http://res.cloudinary.com/hdriydpma/image/upload/mentor_eiy5fn.jpg" width="100%">
       
          </div>
      {% endif %}
          </div>
        <div class="smalldivider"></div>
          <div class="row marginthis">
          <div class="col-md-10">
            <p>{{ a.name }}</p>
          </div>
        </div>
      </div>
      {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
          </div>
          </div>
        
        
          </div>
          <div class="divider"></div>
          {% endfor %}
          

          
          
          
          
          
          
      </div>
    
    
      </div>
  </div>
</div>

{% endblock %}
