{% extends "base.html" %}
{% block content %}

<div class="bigdivider"></div>
<div class="bigdivider"></div>
<div class="row animated fadeInUp">
      <!-- Show course authoring options if authenticated, otherwise show login option -->
      <div class="row">
        <div class="col-md-12 text-center">
          <i class="fa fa-diamond"></i>
          <div class="row">
            <div class="col-md-1 col-md-offset-5">
          <a href="{{ url_for('creator_register')}}">Create</a>
            </div>
            <div class="row">
              <div class="col-md-1">
          <a href="{{ url_for('ad_register')}}">Advertise</a>
              </div>
               </div>
        </div>
      </div>
        
    <div class="smalldivider"></div>
</div>

{% endblock %}