{% extends "base.html" %}
{% block content %}

<div class="bigdivider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <div class="bigdivider"></div>
      <div class="row">
          <div class="col-md-12">
        <div class="profile-img-container">
        <img class="img-respnsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{user.profile_pic}}" width="150px" height="150px">
          </div>
      </div>
      <div class="col-md-12 text-center">
        <h3>{{ this_user.username }}</h3>
      </div>
      </div>  
        
        <div class="smalldivider"></div>
          
      <div class="row">
        <div class="col-md-12">
        <h2>Projects</h2>
        <div class="line"></div>
        <div class="smalldivider"></div>
        <div class="row visible-md visible-lg visible-sm visible-xs">
      

        <div class="col-md-12">
          <div id="wrapper">
    <div id="columns">

      {% for i in projects %}
        <div class="pin">
            <a href="{{ url_for('project', project_id=i.id)}}">
              <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.picture_name}}" width="100%">
              </a>
          <div class="line"></div>
          <p class="boxtexttitle"><b>  <a href="{{ url_for('project', project_id=i.id)}}">{{ i.name }}</a></b></p>
          <div class="line"></div>
          <p class="boxtext">{{ i.tag_line }}</p>
      </div>
    {% endfor %}
            </div>
          </div>
       </div>
    </div>
</div>
</div>
        
    <div class="divider"></div>
          
      <div class="row">
        <div class="col-md-12">
        <h2>Assets</h2>
        <div class="line"></div>
        <div class="smalldivider"></div>
     <div class="row visible-md visible-lg visible-sm visible-xs">
      

        <div class="col-md-12">
          <div id="wrapper">
    <div id="columns">

      {% for i in assets %}
        <div class="pin">
            <a href="{{ url_for('asset', asset_id=i.id)}}">
              <img class="img-responsive" src="https://res-4.cloudinary.com/hdriydpma/image/upload/{{i.picture_name}}" width="100%">
              </a>
          <div class="line"></div>
          <p class="boxtexttitle"><b>  <a href="{{ url_for('asset', asset_id=i.id)}}">{{ i.name }}</a></b></p>
          <div class="line"></div>
          <p class="boxtext">${{ i.price }}</p>
      </div>

    {% endfor %}
            </div>
          </div>
       </div>
      </div>
    </div>
  
     <div class="divider"></div>
    
        </div>
        </div>
      </div>
    </div>


{% endblock %}